:root {
    --logo-color: #d5ac8c;
    --dark-brown: #957c62;
    --dark-brown-2: #956d62;
    --light-brown: #ffead3;
    --very-light-brown: #fff4e9;
    --white: #ffffff;
    --coral: #d59b8c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'Martel', serif;
    scroll-behavior: smooth;
}

p, h2, h3 {
    text-shadow: black .2px .2px 40px;
}

