:root {
    --logo-color: #d5ac8c;
    --dark-brown: #957c62;
    --dark-brown-2: #956d62;
    --light-brown: #ffead3;
    --very-light-brown: #fff4e9;
    --white: #ffffff;
    --coral: #d59b8c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Martel', serif;
    scroll-behavior: smooth;
}

p, h2, h3 {
    text-shadow: black .2px .2px 40px;
}

.navbar-li-container {
    display: flex;
    background-color: var(--dark-brown-2);
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.nav-item {
    font-size: 2.4rem;
    font-weight: 600;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin: 0rem 4rem;
    color: var(--light-brown);
}

.conocenos {
    display: flex;
    align-items: center;
}

.bg-conocenos {
    height: calc(100vh - 145px);
}

.conocenos-container {
    margin-left: 50%;
    position: absolute;
    color: #fff4e9;
    padding: 2rem 2rem 2rem;
}

.conocenos-container h2 {
    font-size: 8rem;
    font-weight: 200;
}

.conocenos-container p {
    font-size: 2.8rem;
    font-weight: 200;
    margin: 6rem 0;
    line-height: 4rem;
} 

.btn-conocenos {
    color: #957c62;
    font-size: 2.4rem;
    background-color: #fff4e9;
    padding: 1.6rem;
    border-radius: 3rem;
    border: none;
    margin: auto;
    display: block;
    cursor: pointer;
}

.bg-conocenos {
    object-fit: cover;
    width: 100%;
}

.productos {
    background-color: var(--dark-brown-2);
}

.productos h2 {
    font-size: 3.2rem;
    text-align: center;
    padding: 4rem 0 0;
    color: var(--very-light-brown);
}

.btn-info {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: #957c62;
    border: solid 4px #957c62;
    background-color: transparent;
    padding: 1rem;
    margin: auto;
    cursor: pointer;
}

.productos-p {
    color: #ffead3;
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 2rem 4rem;
}

.productos-p-bold {
    color: var(--coral);
    font-size: 2.4rem;
    font-weight: 600;
    margin: 2rem 4rem;
}

.ddlt-container, .ddlsa-container, .dcn-container, .adm-container {
    display: flex;
}

.producto-img {
    width: 50%;
    object-fit: cover;
}

.ddlt, .ddlsa, .dcn {
    width: 50%;
    background-color: black;
    padding: 4rem;
}

.adm-container {
    display: flex;
    width: 100%;
    padding: 4rem;
    background-color: var(--logo-color);
}

.adm {
    width: 60%;
}

.adm-p {
    color: #ffead3;
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 2rem 4rem;
}

.adm-p-bold {
    color: var(--very-light-brown);
    font-size: 2.8rem;
    font-weight: 600;
    margin: 2rem 4rem;
}

.btn-info-adm {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
    border: solid 4px black;
    background-color: transparent;
    padding: 1rem;
    margin: auto;
    cursor: pointer;
}

.producto-img-adm {
    object-fit: cover;
}

.calidad {
    background-color: var(--dark-brown-2);
}

.calidad h2 {
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
    color: var(--very-light-brown);
}

.calidad-img-container {
    display: flex;
    justify-content: center;
}

.organico-container, .tacc-container, .conservantes-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.calidad-img {
    display: block;
    width: 100%;
    max-width: 130px;
    margin: auto;
}

.calidad-p {
    display: flex;
    color: #ffead3;
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}

.contactanos h2 {
    font-size: 4rem;
    text-align: center;
    color: var(--very-light-brown);
    background-color: var(--dark-brown-2);
    padding-bottom: 2rem;
}

.contactanos-container {
    display: flex;
}

.contactanos-img {
    object-fit: cover;
}

.contactanos-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 8rem 4rem;
}

.contactanos-form label {
    color: var(--dark-brown);
    font-size: 1.6rem;
    font-weight: 200;
    margin: 2rem 0 .4rem;
    display: block;
}

.contactanos-form input, .contactanos-form textarea {
    width: 100%;
    display: block;
    background-color: var(--dark-brown);
    border: none;
    padding: 1rem;
}

.contactanos-form textarea {
    height: 8rem;
}

.contactanos-p {
    color: var(--dark-brown);
    font-size: 2rem;
    font-weight: 600;
}

.btn-enviar {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: #957c62;
    border: solid 4px var(--dark-brown);
    background-color: transparent;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
}

.recetas h2 {
    font-size: 4rem;
    text-align: center;
    color: var(--very-light-brown);
    background-color: var(--dark-brown-2);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.recetas-container {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--dark-brown-2);
    padding-bottom: 4rem;
    flex-wrap: wrap;
}

.conitos-container, .pepas-container, .torta-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 300px;
    background-color: var(--logo-color);
    padding-bottom: 2rem;
}

.img-recetas {
    width: 100%;
    object-fit: cover;
}

.h3-recetas {
    font-size: 2.4rem;
    text-align: center;
    color: var(--dark-brown-2);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.p-recetas {
    font-size: 2rem;
    padding: 0 4rem;
    margin-bottom: 2rem;
    color: var(--very-light-brown);
    line-height: 3rem;
}

.btn-preparacion {
    border: solid 4px var(--dark-brown-2);
    color: var(--dark-brown-2);
    background-color: transparent;
    padding: 1rem;
    width: auto;
    display: block;
    margin: auto;
    font-weight: 600;
    cursor: pointer;
}

footer h2 {
    font-size: 4rem;
    text-align: center;
    background-color: var(--dark-brown-2);
    padding-bottom: 2rem;
    color: var(--very-light-brown);
}

.footer-container {
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding-bottom: 4rem;
    flex-wrap: wrap;
}

.logo-footer {
    display: flex;
    align-items: center;
    margin: 4rem 0 0;
    object-fit: contain;
    width: 12%;
    min-width: 100px;
}

.footer-menu-container, .footer-navegacion-container, .footer-redes-container, .footer-ubicacion-container {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    width: auto;
}

.footer-redes-container a {
    display: flex;
    justify-content: center;
}

.h3-footer {
    color: var(--logo-color);
    font-size: 2rem;
    font-weight: 200;
    margin: 4rem 0 1rem;
}

.a-footer {
    font-size: 2rem;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
    margin: 2rem 0;
}

.icons-footer {
    width: 30px;
}

.map-footer {
    height: 200px;
}

@media screen and (max-width: 1000px) {
    .torta-container {
        display: block;
        width: 50%;
        margin-top: 4rem;
        transition: all .3s;
    }
    
    .conocenos-container {
        margin: 0;
    }
        
    .productos-p {
        color: #ffead3;
        font-size: 1.6rem;
        line-height: 3rem;
        margin: 2rem 4rem;
    }
            
}

@media screen and (max-width: 768px) {
    .productos h2 {
        font-size: 2.4rem;
    }
    
    .productos-p, .adm-p {
        color: #ffead3;
        font-size: 1.6rem;
        line-height: 3rem;
    }
    
    .productos-p-bold, .adm-p-bold {
        font-size: 2rem;
        color: var(--coral);
    }
    
    .producto-img, .producto-img-adm {
        display: none;
    }
    
    .ddlt, .ddlsa, .dcn, .adm {
        padding: 4rem;
        width: 100%;
        border-bottom: solid 2px var(--coral);
        background-color: black;
    }
        
    .adm-container {
        padding: 0;
    }
        
    .btn-info, .btn-info-adm {
    color: #957c62;
    border: solid 4px #957c62;
    }

    .calidad-img-container {
        justify-content: space-evenly;
        padding-bottom: 6rem;
    }

    .organico-container, .tacc-container, .conservantes-container {
        margin: 0;
        width: 25%;
    }

    .calidad-p {
        margin: 0;
        justify-content: center;
    }

    .contactanos-img {
        display: none;
    }

    .h3-recetas {
        font-size: 2rem;
    }

    .p-recetas {
        font-size: 1.6rem;
    }

    .conitos-container, .pepas-container, .torta-container {
        display: block;
        width: 100%;
        margin: 0;
    } 
}

@media screen and (max-width: 520px) {
    .conocenos-container h2 {
        font-size: 4rem;
        text-align: center;
    }

    .conocenos-container p {
        font-size: 2rem;
        text-align: center;
    }

    .calidad-p {
        font-size: 1.6rem;
    }

    .footer-container {
        flex-direction: column;
        padding-top: 4rem;
    }

    .logo-footer, .h3-footer, .a-footer {
        display: block;
        margin: auto;
    }

    .h3-footer {
        margin-top: 2rem;
    }

    .footer-redes-container a {
        margin: 1rem;
    }

    .footer-ubicacion-container {
        margin: 0;
        width: 100%;
    }

    .footer-ubicacion-container iframe {
        width: 100%;
    }
}

